@using RentCar.WebSite.Models
@model RentCar.WebSite.Models.CarDetailModel

@{
    ViewBag.Title = "Create";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Car", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cars</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                @(Html.HiddenFor(model => model.Car.ImageUrl))
                <br />
                <br />
                <input type="file" name="ProfileImage" id="ProfileImage" class="form-control" />
                <span class="glyphicon glyphicon-info-sign">&nbsp;</span>
                <span> <i>Lütfen jpg,png formatı kullanın</i></span>



                <br />
                <br />

                <div class="form-group">
                    @Html.LabelFor(model => model.Car.IndirimOrani, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Car.IndirimOrani, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Car.IndirimOrani, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Car.ArabaAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Car.ArabaAdi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Car.ArabaAdi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Car.KasaTipi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.Car.KasaTipi, Model.KasaTipleri.ToItems((int)Model.Car.KasaTipi), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Car.KasaTipi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Car.Locations, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.Car.Locations, Model.LocationTipleri.ToItems((int)Model.Car.Locations), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Car.KasaTipi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Car.YakitTipi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.Car.YakitTipi, Model.YakitTipleri.ToItems((int)Model.Car.YakitTipi), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Car.YakitTipi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Car.Marka, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.Car.Marka, Model.MarkaTipleri.ToItems((int)Model.Car.Marka), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Car.Marka, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Car.VitesTipi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.Car.VitesTipi, Model.VitesTipleri.ToItems((int)Model.Car.VitesTipi), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Car.VitesTipi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Car.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Car.IsActive)
                            @Html.ValidationMessageFor(model => model.Car.IsActive, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Car.GunlukUcret, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Car.GunlukUcret)
                            @Html.ValidationMessageFor(model => model.Car.GunlukUcret, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Car.Depozito, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Car.Depozito)
                            @Html.ValidationMessageFor(model => model.Car.Depozito, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Car.EhliyetYas, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Car.EhliyetYas)
                            @Html.ValidationMessageFor(model => model.Car.EhliyetYas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Car.SürücüYas, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Car.SürücüYas)
                            @Html.ValidationMessageFor(model => model.Car.SürücüYas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
               
                <div class="form-group">
                    @Html.LabelFor(model => model.Car.Yıl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Car.Yıl)
                            @Html.ValidationMessageFor(model => model.Car.Yıl, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-danger" />
                        @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>

    </div>
}


