@model DataEntity.Car

@{
    ViewBag.Title = "Delete";
}

<h2>SİL</h2>

<h3>Silmek İstediğine Emin Misin ?</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArabaAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArabaAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yıl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yıl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plaka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plaka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KasaTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KasaTipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YakitTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YakitTipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GunlukUcret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GunlukUcret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VitesTürü)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VitesTürü)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depozito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depozito)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Dön", "Index",null,new { @class="btn btn-primary"})
        </div>
    }
</div>
