@using BusınessLayer.Util;
@using BusınessLayer.Concrete;

@model List<DataEntity.Rezervasyon>
@{
    ViewBag.Title = "Rezervasyon Listesi";
}

<h2>@ViewBag.Title 
    <a class="mb10 btn btn-danger" href="@Url.RouteUrl("ReservationDetail", new { id= 0})">
    + Ekle
    </a>
</h2>


<table class="table table-bordered">
    <tr>
        <th>#ID</th>
        <th>Araç Bilgileri</th>
        <th>Kiralayan</th>
        <th>Alış Tarihi</th>
        <th>İade Tarihi</th>
        <th>Alis ve Iade Yeri</th>
        <th>Kayıt Durumu</th>
        <th>İşlemler/</th>
    </tr>

    @foreach (var reservation in Model)
    {
        <tr>
            <td>@reservation.Id</td>
            <td>
                @if (reservation.Car != null)
                {
                    <b>@reservation.Car.ArabaAdi</b>
                }
            </td>
            <td>
                @if (reservation.RentUser != null)
                {
                    <b>@reservation.RentUser.Name</b><br />
                    <span>@reservation.RentUser.PhoneNumber</span>
                }
            </td>
            <td>@reservation.AlisTarihi.ToString("dd.MM.yyyy HH:mm")</td>
            <td>@reservation.IadeTarihi.ToString("dd.MM.yyyy HH:mm")</td>
            <td>
                @LookupManager.GetLookupName(DataEntity.LookupType.Locations, reservation.AlisYeri)
                =>
                @LookupManager.GetLookupName(DataEntity.LookupType.Locations, reservation.İadeYeri)
            </td>
            <td>
                <span class="label label-@(reservation.Status== DataEntity.ReservationsStatus.Active ? "success":"danger")">
                    @LookupManager.GetLookupName(DataEntity.LookupType.ReservationStatus, (int)reservation.Status)
                </span>
            </td>
            <td><a class="mb10 btn btn-success" href="@Url.RouteUrl("ReservationDetail", new { id= reservation.Id})">Düzenle</a></td>
        </tr>
    }
</table>

<style>
    body { max-width: 1120px; margin: 0 auto; }
    .mb10 { margin-bottom: 10px; }
    .btn { background: #000000; border: 2px solid #000000; color: #fff; padding: 5px 14px; }
    .btn-danger { background: #ff006e; border: 2px solid #ff006e; color: #fff; }
    .btn-danger:hover { background: #dc143c; border: 2px solid #dc143c; color: #fff; }
</style>