@using RentCar.WebSite.Models
@using BusınessLayer.Concrete

@model  RentCar.WebSite.Models.SearchModel

@{
    var locations = LookupManager.GetLookups(DataEntity.LookupType.Locations);
    var kasatipi = LookupManager.GetLookups(DataEntity.LookupType.KasaTipi);
    var vitesTipi = LookupManager.GetLookups(DataEntity.LookupType.VitesTipi);
    var yakitTipi = LookupManager.GetLookups(DataEntity.LookupType.YakitTipi);
}

<section id="banner" class="lazy hidden-xs" style="margin-top:150px; background-image:url(../../Content/Themes/images/uye_giris_bg.jpg); ">
    <div class="container-fluid">
        <div class="text">
            <h1>Araç Kiralamada</h1>
            <h2>Yepyeni Bir Deneyim</h2>
        </div>

        @using (Html.BeginForm("SearchCar", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@

            <div class="row">

                <div class="form-group col-md-3 ">

                    @Html.LabelFor(model => model.Locations, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="dropdown">
                        @Html.DropDownListFor(x => x.Locations, locations.ToItems(Model == null ? 0 : (int)Model.Locations), new { @class = "form-control" })
                       
                    </div>
                </div>
                <div class="form-group col-md-3 ">
                    @Html.LabelFor(model => model.KasaTipi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="dropdown">
                        @Html.DropDownListFor(x => x.KasaTipi, kasatipi.ToItems(Model == null ? 0 : (int)Model.KasaTipi), new { @class = "form-control" })
                   
                    </div>
                </div>
                <div class="form-group col-md-3 ">
                    @Html.LabelFor(model => model.VitesTipi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="dropdown">
                        @Html.DropDownListFor(x => x.VitesTipi, vitesTipi.ToItems(Model == null ? 0 : (int)Model.VitesTipi), new { @class = "form-control" })
             
                    </div>
                </div>
                <div class="form-group col-md-3 ">
                    @Html.LabelFor(model => model.YakitTipi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="dropdown">
                        @Html.DropDownListFor(x => x.YakitTipi, yakitTipi.ToItems(Model == null ? 0 : (int)Model.YakitTipi), new { @class = "form-control" })
                     
                    </div>
                </div>

                <div class="form-group col-md-3 ">
                    @Html.LabelFor(model => model.AlisTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.TextBoxFor(x => x.AlisTarihi, "{0:dd.MM.yyyy}", new { @class = "form-control datepickstart", maxlength = 20 })
                    </div>
                </div>

                <div class="form-group col-md-3 ">
                    @if (ViewBag.hata != null)
                    {
                   <p class="text-" style="color:aliceblue;">@ViewBag.hata</p> 
                    }

                    @Html.LabelFor(model => model.IadeTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.TextBoxFor(x => x.IadeTarihi, "{0:dd.MM.yyyy}", new { @class = "form-control datepickent", maxlength = 20 })
                    </div>
                </div>

                <div class="col-md-3 form-group ">
                    <button type="submit" class="btn btn-danger "> Ara</button>
                </div>

            </div>

        }

    </div>
</section>













<link href="~/Content/Scripts/Datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Content/Scripts/Datepicker/bootstrap-datepicker.min.js"></script>
@*<script src="~/Content/Scripts/Datepicker/bootstrap-datepicker.tr.min.js"></script>*@

<script type="text/javascript">

    var date = new Date();
    date.setDate(date.getDate() );
    $('.datepickstart').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'dd-mm-yyyy',
        startDate: date
    }).on('changeDate', function () {
        $(this).datepicker('hide');
    });


    $('.datepickent').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'dd-mm-yyyy',
        startDate: date
    }).on('changeDate', function () {
        $(this).datepicker('hide'); 
    });




</script>

