@model  RentCar.WebSite.Models.SearchModel





<section id="banner" class="lazy hidden-xs" style="margin-top:150px; background-image:url(../../Content/Themes/images/uye_giris_bg.jpg); ">
    <div class="container-fluid">
        <div class="text">
            <h1>Araç Kiralamada</h1>
            <h2>Yepyeni Bir Deneyim</h2>
        </div>

        @using (Html.BeginForm("SearchCar", "Home", FormMethod.Get))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">

            <div class="form-group col-md-3 ">
                @Html.LabelFor(model => model.Rezervasyon.AlisYeri, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="dropdown">
                    @Html.EditorFor(model => model.Rezervasyon.AlisYeri, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Rezervasyon.AlisYeri, "", new { @class = "text-danger" })
                </div>
            </div>
         


            <div class="form-group col-md-3 ">
                @Html.LabelFor(model => model.Rezervasyon.AlisTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="start-date">
                    @Html.EditorFor(model => model.Rezervasyon.AlisTarihi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Rezervasyon.AlisTarihi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3 ">
                @Html.LabelFor(model => model.Rezervasyon.IadeTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class=" end-date">
                    @Html.EditorFor(model => model.Rezervasyon.IadeTarihi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Rezervasyon.IadeTarihi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3 form-group ">
                <button type="submit" class="fa fa-search"> Ara</button>
            </div>

        </div>

        }

    </div>
</section>
